:root {

  --primary-color: #481a54;
  --secondary-color: #5b3165;
  --contrast-color: #FFFFFF;
  --contrast-secondary-color: black;
  --contrast-tertiary-color: #454245;

  --font-primary: 'Segoe UI', sans-serif;
}

/* Reseteo de márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Estructura del contenedor principal */
div .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: var(--contrast-color);
  padding: 10rem;
}

/* Título principal */
div .content h1 {
  font-size: 4rem;
  color: var(--contrast-secondary-color);
  font-weight: 600;
  font-family: var(--font-primary);
}

/* Formulario */
.content form {
  width: 100%;
  max-width: 500px;
  background-color: var(--contrast-color);
  padding-top: 2rem;
  box-shadow: none;
}

/* Campos del formulario */
.mail {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.mail label {
  font-size: 1.3rem;
  color: var(--contrast-secondary-color);
  font-weight: 600;
  margin-bottom: 8px;
}

div input {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  background-color: var(--contrast-color);
  color: var(--contrast-tertiary-color);
  box-sizing: border-box;
}

div input:focus {
  border-color: var(--link-color);
  box-shadow: var(--link-color) 0px 0px 8px 0px;
  outline: none;
  background-color: #fff;
}

/* Mensajes de error */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}

/* Botón */
div button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  position: center;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

div button:hover {
  background-color: var(--secondary-color);
}


/* Enlace */


div .correo-enviado {
  font-family: var(--font-primary);
  color: var(--contrast-secondary-color);
  font-size: 2rem;
  margin: 5rem;
}

div .redirect-box {
  text-align: center;
  margin: 2rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  padding: 0rem;
}

div .redirect-box span {
  font-size: var(--font-primary);
  font-size: 1rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin: 0rem;
  padding: 0;
  margin-bottom: 0rem;
  max-width: 100%;
}

div .redirect-box a {
  font-size: var(--font-primary);
  font-size: 1rem;
  color: var(--link-color);
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin: 0rem;
  max-width: 100%;
}

@media (min-width: 300px) and (max-width: 768px) {

  .content span {
    text-align: center;
    font-size: 1rem;
    width: 18rem;
    margin-top: -2rem;
  }


  /*link una vez se envia el mail*/
  div .redirect-box1 a {
    font-size: 1rem;
    width: 10rem;
    margin-top: -3rem;
  }

}


@media (min-width: 768px) and (max-width: 1024px) {
  .content span {
    text-align: center;
    font-size: 2rem;
    width: 36rem;
    margin-top: -2rem;
  }

  div .redirect-box1 a {
    font-size: 1rem;
    width: 10rem;
    margin-top: -3rem;
  }

}

@media (min-width: 1025px) and (max-width: 2000px) {
  .content span {
    text-align: center;
    font-size: 2rem;
    width: 50rem;
    margin-top: -2rem;
  }

  div .redirect-box1 a {
    font-size: 1rem;
    width: 10rem;
    margin-top: -3rem;
  }

}